* {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	width: 100vw;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: white;
}

body {
	height: 100%;
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	width: 100%;
	background: linear-gradient(90deg, rgba(16,162,0,1) 0%, rgba(0,93,82,1) 100%);
}

.a {
	color: white;
	text-decoration: none;
	line-height: normal;
}

.active {
	box-shadow: 0px 3px 0px 0px white;
}

.nav {
	padding: 0 10px;
}

.pharmacy {
	font-weight: bold;
}

.left {
	margin-left: 10px;
}

.right {
	margin-right: 10px;
}

.button {
	cursor: pointer;
	padding: 0 15px;
	height: 30px;
	border: none;
	background: rgba(20, 20, 20, 0.5);
	border-radius: 15px;
}

.row {
	display: flex;
	flex-direction: row;
}

.height {
	height: 100%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}