* {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%;
	width: 100%;
	font: 13px/22px Roboto, sans-serif;
	background: black;
	color: white;
}

body {
	height: 100%;
	width: 100%;
}

nav {
	background-color: #303030;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 
    "menu search personal"
    "position position position";
}

nav a {
	margin-left: 10px;
}

.menu {
	grid-area: menu;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.search {
	grid-area: search;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}

.personal {
	grid-area: personal;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
}

.personal a {
	margin: 0;
	margin-right: 10px;
}

.position {
	grid-area: position;
	height: 40px;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.currency {
	background-color: #101010;
	height: 40px;
	justify-content: center;
	text-align: center;
	font-size: larger;
	display: flex;
	align-items: center;
	width: 40px;
}

.row {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}

input {
	align-self: flex-start;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: calc(100% - 20px);
	flex-grow: 1;
	height: 40px;
	padding: 0 10px;
	border: none;
	color: white;
	background: #101010;
}

.numberinput {
	width: 50px;
}

.iconbutton {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.icon {
	background: none;
	height: 20px;
	width: 20px;
}

.span {
	margin-bottom: 5px;
}

label {
	margin-bottom: 5px;
	align-self: flex-start;
}

.inputlabel {
	display: inline;
	margin-bottom: 5px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
	background: #101010;
	width: 100px;
	height: 40px;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.field {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 0;
}

.center {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sidenav {
	width: 100%;
	padding: 10px 0;
}

.catalog {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.meds {
	width: 100%;
	justify-content: space-evenly;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.med {
	color: white;
	text-decoration: none;
	width: 200px;
	background: #202020;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.med:hover .medimg {
	background: white;
}

.medimg {
	width: 200px;
	height: 200px;
}

.meddetails {
	padding: 10px;
	flex-grow: 1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.meddetails .form {
	flex-direction: row;
}

.pad {
	padding-bottom: 60px;
}

td, th {
	border: none;
	padding: 0 10px;
	height: 40px;
}
  
table tr:nth-child(even){background-color: #303030;}
  
th {
	text-align: left;
	background-color: #202020;
	color: white;
}