* {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%;
	width: 100%;
	font: 13px/22px Roboto, sans-serif;
	background-color: white;
	color: black;
}

body {
	height: 100%;
	width: 100%;
}

nav {
	width: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 60px;
	grid-template-areas: 
	"menu search personal";
	align-items: center;
}

nav a {
	margin-left: 10px;
}

.position {
	padding: 10px 0;
	font-size: larger;
}

.position a {
	text-decoration: none;
	color: white;
	margin: 0 20px;
}

.menu {
	grid-area: menu;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.logo {
	margin-left: 20px;
	font-size: large;
	font-weight: bold;
	color: #df091d;
	text-decoration: none;
}

.picture {
	background-size: cover !important;
}

.search {
	border-radius: 20px;
	grid-area: search;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	background-color: #df091d;
}

.searchbtn {
	display: flex;
	min-width: 40px;
	background-size: 15px auto !important;
}

.personal {
	grid-area: personal;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
}

.personal a {
	margin: 0;
	margin-right: 10px;
}

.informations {
	flex-grow: 1;
	padding: 20px 0 0 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.information {
	margin-right: 20px;
	margin-bottom: 20px;
}

.left {
	margin-left: 10px;
}

.position {
	grid-area: position;
	height: 40px;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.currency {
	background-color: #202020;
	height: 40px;
	justify-content: center;
	text-align: center;
	font-size: larger;
	display: flex;
	align-items: center;
	width: 40px;
}

select {
	margin-left: 10px;
	border: none;
	color: white;
	background-color: #df091d;
	height: 40px;
	padding: 0 10px;
	border-radius: 20px;
	cursor: pointer;
}

.justify {
	justify-content: center;
}

.filters {
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding: 20px 0 10px;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-left: 20px;
	margin-bottom: 20px;
	height: 40px;
}

.checkbox {
	display: flex;
	align-self: center;
	margin-left: 10px;
	height: 20px;
	width: 20px;
}

.radio {
	display: flex;
	align-self: center;
	margin-right: 10px;
	height: 20px;
	width: 20px;
}

.row {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}

input {
	border-radius: 20px;
	align-self: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: calc(100% - 40px);
	flex-grow: 1;
	height: 40px;
	padding: 0 20px;
	border: none;
	color: white;
	background-color: #df091d;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #fff;
}	

::-ms-input-placeholder { /* Microsoft Edge */
	color: #fff;
}

.numberinput {
	width: 50px;
}

.iconbutton {
	border-radius: 20px;
	text-decoration: none;
	background-color: #df091d;
	border: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.span {
	margin-bottom: 5px;
}

label {
	margin-bottom: 5px;
	align-self: flex-start;
}

.inputlabel {
	display: inline;
	margin-bottom: 5px;
}

.button {
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
	background-color: #df091d;
	width: 100px;
	padding: 0 10px;
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.field {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 0;
}

.center {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sidenav {
	width: 100%;
	padding: 10px 0;
}

.space {
	margin-right: 20px;
}

.catalog {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.meds {
	width: 100%;
	gap: 20px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.med {
	flex-grow: 1;
	flex-basis: 200px;
	border-radius: 20px;
	color: black;
	text-decoration: none;
	max-width: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.med:hover .medimg {
	background-color: lightgray;
}

.medimg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 200px;
	transition: background-color 0.3s;
}

.meddetails {
	padding: 10px;
	flex-grow: 1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.meddetails .form {
	flex-direction: row;
}

.pad {
	padding-bottom: 60px;
}

td, th {
	border: none;
	padding: 5px 10px;
	height: 40px;
}
  
table {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	overflow-x: auto;
}

tbody {
	max-width: 100%;
}

table tr:nth-child(even){background-color: #404040;}
  
th {
	text-align: left;
	background-color: #df091d;
	color: white;
}