* {
	margin: 0;
	padding: 0;
	outline: none;
	transition: box-shadow 0.2s linear !important;
}

*:focus{
	box-shadow: 0 0 0 2px forestgreen;
}

html {
	height: 100%;
	width: 100%;
	font: 13px/22px Roboto, sans-serif;
	background-color: white;
	color: black;
}

body {
	height: 100%;
	width: 100%;
}

nav {
	margin-top: 10px;
	width: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 60px;
	grid-template-areas: 
	"menu search personal";
	align-items: center;
}

.menu {
	grid-area: menu;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 0 10px;
	margin-left: 10px;
	font-size: x-large;
	font-weight: 900;
	color: green;
	text-decoration: none;
	transition: color 0.2s linear !important;
	border-radius: 20px;
}

.logo:hover {
	color: darkgreen;
}

.picture {
	border-radius: 20px;
	height: 40px !important;
	width: 40px !important;
	background-size: cover !important;
}

.searchbar {
	position: relative;
	border-radius: 20px;
	grid-area: search;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 40px;
}

.searchbar:hover .search:not(:focus){
	background-color: gainsboro;
}

.search {
	width: 100%;
	padding-right: 50px;
}

.search:focus {
	background-color: white;
}

.searchbutton {
	right: 0;
	position: absolute;
	background-color: transparent !important;
}

.searchicon {
	fill: #949494;
	width: 24px;
	height: 24px;
}

.personal {
	height: 40px;
	padding: 0 10px;
	grid-area: personal;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
}

.personal a {
	position: relative;
	margin: 0;
	margin-right: 10px;
}

.cartcounter {
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-size: 12px;
	font-weight: 900;
	background-color: red;
	color: white;
	padding: 5px;
	height: 10px;
	width: 10px;
	text-align: center;
	border-radius: 10px;
}

.gap {
	gap: 20px;
}

.left {
	margin-left: 10px;
}

.position {
	align-self: flex-start;
	grid-area: position;
	gap: 10px;
	height: 40px;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.position a {
	font-size: x-large;
	text-decoration: none;
	color: black;
}

.currency {
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	background-color: lightgray;
	height: 40px;
	justify-content: center;
	text-align: center;
	font-size: larger;
	display: flex;
	align-items: center;
	width: 40px;
}

select {
	border: none;
	background-color: lightgray;
	height: 40px;
	padding: 0 10px;
	border-radius: 20px;
	cursor: pointer;
	border-right: 10px solid lightgray;
	transition: background-color 0.2s linear !important, border 0.2s linear !important;
}

select:hover {
	background-color: gainsboro;
	border-right: 10px solid gainsboro;
}

.justify {
	justify-content: center;
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	gap: 20px;
}

.filters {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 20px;
}

.option {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 40px;
}

.card {
	gap: 20px;
	padding-bottom: 20px;
	width: 300px;
	border-radius: 20px;
	color: black;
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

.max-content {
	width: max-content;
}

.setting {
	display: flex;
	flex-direction: column;
}

.start {
	align-self: flex-start !important;
}

.between {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.checkbox {
	cursor: pointer;
	display: flex;
	align-self: center;
	height: 20px;
	width: 20px;
}

.radio {
	cursor: pointer;
	display: flex;
	align-self: center;
	height: 20px;
	width: 20px;
}

.row {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}

.header {
	align-self: flex-start;
	font-size: x-large;
	line-height: 40px;
}

.header p {
	word-break: break-all;
}

input {
	border-radius: 20px;
	align-self: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: calc(100% - 40px);
	flex-grow: 1;
	height: 40px;
	padding: 0 20px;
	border: none;
	background-color: lightgray;
	transition: background-color 0.2s linear !important;
}

input:hover {
	background-color: gainsboro;
}

.numberinput {
	width: 50px !important;
	max-width: 50px !important;
}

.rightcorners {
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.leftcorners {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.button {
	align-self: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
	background-color: green;
	padding: 0 20px;
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
	color: white;
	text-decoration: none;
	transition: background-color 0.2s linear !important;
}

.button:hover {
	background-color: darkgreen;
}

.iconbutton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	min-width: 40px;
	border-radius: 20px;
	text-decoration: none;
	background-color: green;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s linear !important;
}

.iconbutton:hover {
	background-color: darkgreen;
}

.icon {
	height: 24px;
	width: 24px;
	fill: white;
}

span {
	display: flex;
	align-self: center;
	margin-bottom: 5px;
}

label {
	display: flex;
	align-self: flex-start;
	margin-bottom: 5px;
}

.inputlabel {
	display: inline;
	margin-bottom: 5px;
}

.self-center {
	align-self: center !important;
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.field {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.center {
	padding: 20px;
	gap: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.column {
	display: flex;
	flex-direction: column;
}

.space {
	margin-right: 20px;
}

.catalog {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.meds {
	width: 100%;
	gap: 20px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
}

.med {
	flex-grow: 1;
	flex-basis: 200px;
	border-radius: 20px;
	color: black;
	text-decoration: none;
	max-width: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	cursor: pointer;
}

.medimgwrapperdetail {
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.medimgwrapper {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 100%;
	height: 200px;
	transition: background-color 0.2s linear !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.med:hover .medimgwrapper {
	background-color: lightgray;
}

.medimg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 90%;
	height: 90%;
}

.meddetails {
	padding: 10px;
	flex-grow: 1;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.meddetails .form {
	flex-direction: row;
}

.pad {
	padding-bottom: 60px;
}

td, th {
	border: none;
	padding: 5px 10px;
	height: 40px;
	border-spacing: none;
}
  
table {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	overflow-x: auto;
}

tbody {
	max-width: 100%;
	border-spacing: 0px;
}

table tr:nth-child(even){
	background-color: rgb(150, 150, 150);
}

table tr:nth-child(odd){
	background-color: gray;
}
  
tr:first-of-type {
	background: linear-gradient(90deg, green 0%, darkgreen 100%);
}

th {
	text-align: left;
	color: white;
}