<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Account</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>

        <div class="center">
            
            <div class="between">
                <p class="header">Hallo <b th:text="${user.userAccount.getUsername()}">Benutzername</b></p>
                <a class="button" th:text="Ausloggen" th:href="@{/logout}"></a>
            </div>
        
            <div class="cards">
                <div class="card">
                    <p class="header self-center">Account</p>
                    
                    <div class="cards">
                        <div class="setting">
                            <a class="button" th:text="${'Meine Bestellungen'}" th:href="@{/myorders}"></a>
                        </div>
                        <div class="setting">
                            <a class="button" th:text="${'Meine Finanzen'}" th:href="@{/myfinances}"></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <p class="header self-center">Einstellungen</p>
                    <div class="cards">
                        <div class="setting">
                            <label class="label" for="name">Passwort</label>
                            <a class="button start" th:text="${'Ändern'}" th:href="@{/account/password}"></a>
                        </div>

                        <div class="setting">
                            <label class="label" for="name">Adresse</label>
                            <a th:if="${user.getAddress()}" class="button" th:text="${'Ändern'}" th:href="@{/account/address}"></a>
                            <a th:unless="${user.getAddress()}" class="button" th:text="${'Hinzufügen'}" th:href="@{/account/address}"></a>
                        </div>

                        <div class="setting">
                            <label class="label" for="name">Bezahlmethoden</label>
                            <a th:if="${user.getPayDirekt()} or ${user.getBankAccount()} or ${user.getPaymentCard()}" class="button" th:text="${'Ändern'}" th:href="@{/account/payments}"></a>
                            <a th:unless="${user.getPayDirekt()} or ${user.getBankAccount()} or ${user.getPaymentCard()}" class="button" th:text="${'Hinzufügen'}" th:href="@{/account/payments}"></a>
                        </div>

                        <div class="setting">
                            <label class="label" for="name">Versicherung</label>
                            <a th:if="${user.getInsurance()}" class="button" th:text="${'Ändern'}" th:href="@{/account/insurance}"></a>
                            <a th:unless="${user.getInsurance()}" class="button" th:text="${'Hinzufügen'}" th:href="@{/account/insurance}"></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <p class="header self-center">Profil</p>
                    <form method="post" role="form" class="ui form" id="form" th:action="@{/account/picture}" th:object="${pictureForm}">
                        <div class="field">
                            <label class="label" for="name">Profilbild</label>
                            <div class="row">
                                <input class="textinput rightcorners" id="name" name="picture" th:value="${user.getPicture()} ? ${user.getPicture()} : ${pictureForm.getPicture()}" placeholder="URL" th:errorclass="fieldError" type="text" required="required"/>
                                <button th:if="${user.getPicture()}" type="submit" class="ui button leftcorners">Ändern</button>
                                <button th:unless="${user.getPicture()}" type="submit" class="ui button leftcorners">Hinzufügen</button>
                            </div>
                            <p class="ui negative message" th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}"></p>
                        </div>
                    </form>
                </div>
                <div class="card" sec:authorize="hasRole('CUSTOMER')" th:unless="${user.getOrdered()}">
                    <p class="header self-center" for="name">Löschen</p>
                    <a class="button self-center" th:text="${'Jetzt Löschen'}" th:href="@{/account/remove}"></a>
                </div>
            </div>
        </div>      
    </body>
	<script> </script>
</html>