<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Account</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>

        <div class="center">
            
            <div class="field">
                <h1 th:text="${'Hallo, '+user.userAccount.getUsername()}">Benutzername</h1>
            </div>
            
            <div class="field">
                <a class="button" th:text="Ausloggen" th:href="@{/logout}"></a>
            </div>

            <div class="field">
                <a class="button" th:text="Einstellungen" th:href="@{/account/settings}"></a>
            </div>

            <div class="field">
                <a class="button" th:text="${'Meine Bestellungen'}" th:href="@{/myorders}"></a>
            </div>

            <div class="field">
                <a class="button" th:text="${'Meine Finanzen'}" th:href="@{/myfinances}"></a>
            </div>
        </div>            
    </body>
</html>