<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Einstellungen</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>

        <div class="center">
        
            <form method="post" role="form" class="ui form" id="form" th:action="@{/account/settings/address}" th:object="${addressForm}">
                
                <div class="field">
                    <h2 class="ui dividing header">Adresse</h2>
                </div>
                <div class="field">
                    <label class="label" for="address">Name</label>
                    <input class="textinput" th:value="${user.getAddress()} ? ${user.getAddress().getName()} : ${addressForm.getName()}" name="name" th:errorclass="fieldError" type="text" required="required"/>
                    <p class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>

                <div class="field">
                    <label class="label" for="address">Straße und Hausnummer</label>
                    <input class="textinput" th:value="${user.getAddress()} ? ${user.getAddress().getStreet()} : ${addressForm.getStreet()}" name="street" th:errorclass="fieldError" type="text" required="required"/>
                    <p class="ui negative message" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>
                </div>

                <div class="field">
                    <label class="label" for="name">Postleitzahl</label>
                    <input class="textinput" th:value="${user.getAddress()} ? ${user.getAddress().getPostCode()} : ${addressForm.getPostCode()}" name="postCode" th:errorclass="fieldError" type="text" required="required"/>
                    <p class="ui negative message" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></p>
                </div>
        
                <div class="field">
                    <label class="label" for="password">Stadt</label>
                    <input class="textinput" th:value="${user.getAddress()} ? ${user.getAddress().getCity()} : ${addressForm.getCity()}" name="city" th:errorclass="fieldError" type="text" required="required"/>
                    <p class="ui negative message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
                </div>
                
                <div class="field">
                    <button th:text="${user.getAddress() == null} ? ${'Adresse hinzufügen'} : ${'Adresse ändern'}" type="submit" class="ui button"></button>
                </div>
            </form>

        </div>
    </body>
</html>