<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{style.css}" />
		<title>Warenkorb</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <div th:unless="${cart.empty}">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th >Bezeichnung</th>
                    <th >Anzahl</th>
                    <th >Preis</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
    
                <tr th:each="item : ${cart} ">
                    <td th:text="${item.productName}">Default</td>
                    <td th:text="${item.quantity}">10</td>
                    <td th:text="${{item.price}}">10 Euro</td>
                </tr>
            </tbody>
        </table>
        <div class="ui two column centered grid">
            <div class="four column centered row">
                <div class="column">
                    <div class="ui horizontal statistic">
                        <div class="label" >Summe:</div>
                        <div class="value"><span th:text="${{cart.price}}">1337</span></div>
                    </div>
                </div>
                <div class="column">
                    <form  class="ui form" method="post" th:action="@{/checkout}"> <!--sec:authorize="hasRole('CUSTOMER')"-->
                        <button type="submit" class="ui button" >Kaufen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>