<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Warenkorb</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <div class="center">
            <div class="form" th:if="${cart.empty}">
                <label>Der Warenkorb ist leer.</label>
                <a class="button" th:href="@{/}">Einkaufen</a>
            </div>
            <table class="cart" th:unless="${cart.empty}">
                <div class="field">
                    <a class="button" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login zum Bezahlen</a>
                    <a class="button" sec:authorize="isAuthenticated()" th:href="@{/checkout}">Zum Checkout</a>
                </div>
                <thead>
                <tr>
                    <th >Artikel</th>
                    <th >Menge</th>
                    <th >Preis</th>
                    <th ></th>
                </tr>
                    <tr th:each="item : ${cart} ">
                        <td th:text="${item.productName}">Default</td>
                        <td>
                            <form class="ui form" method="post" th:action="@{/updatecart}">
                                <div class="row">
                                    <input type="hidden" name="pid" value="0" th:value="${item.id}"/>
                                    <input class="numberinput" id="number" type="number" name="number" min="1" th:max="${availability.get(item.id)}" step="1" th:value="${item.quantity}"/><br/>
                                    <button type="submit" class="button" th:text="${'Aktualisieren'}"></button>
                                </div>
                            </form>
                        </td>
                        <td th:text="${{item.price}}">10 Euro</td>
                        <td>
                         <a class="iconbutton" th:href="@{/cart/{id}/delete(id=${item.id})}"><img class="icon" th:src="@{/img/trash.png}"></a>   
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <label class="label" th:text="${'Summe'}"></label>
                            <div class="value"><span th:text="${{cart.price}}">1337</span></div>
                        </td>
                        <td>
                            <form class="form" method="post" th:action="@{/clearcart}">
                                <button class="button" type="submit" th:text="${'Warenkorb leeren'}"></button>
                            </form>
                        </td>
                    </tr>
            </table>
        </div>
    </body>
</html>