<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{style.css}" />
		<title>Warenkorb</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <ul>
            <li>
                <a>Medizin</a>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </li>
        </ul>
        <a class="button" th:href="@{/checkout}">Bezahlen</a>
    </body>
</html>