<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Checkout</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <div class="center">
            <form class="cards" method="post" th:action="@{/checkout}">
                <div class="card">
                    <b class="ui dividing header self-center">Adresse</b>
                    <div class="column gap self-center" th:if="${user.getAddress()}">
                        <div>
                            <label>Name</label>
                            <b th:text="${user.getAddress().getName()}"></b>
                        </div>
                        <div>
                            <label>Straße und Hausnummer</label>
                            <b th:text="${user.getAddress().getStreet()}"></b>
                        </div>
                            <div>
                            <label>Postleitzahl</label>
                            <b th:text="${user.getAddress().getPostCode()}"></b>
                        </div>
                            <div>
                            <label>Stadt</label>
                            <b th:text="${user.getAddress().getCity()}"></b>
                        </div>
                    </div>
                    <a th:if="${user.getAddress()}" class="button self-center" th:href="@{/account/address}">Adresse ändern</a>
                    <a th:unless="${user.getAddress()}" class="button self-center" th:href="@{/account/address}">Adresse hinzufügen</a>
                </div>
                <div class="card">
                    <b class="header self-center">Zahlungsmittel</b>
                    <select th:if="${user.getPayDirekt()} or ${user.getBankAccount()} or ${user.getPaymentCard()}">
                        <option th:if="${user.getPayDirekt()}">PayDirekt</option>
                        <option th:if="${user.getPaymentCard()}">Kartenzahlung</option>
                        <option th:if="${user.getBankAccount()}">Bankeinzug</option>
                    </select>
                    <a th:if="${user.getPayDirekt()} and ${user.getBankAccount()} and ${user.getPaymentCard()}" class="button self-center" th:href="@{/account/payments}">Zahlungsmittel ändern</a>
                    <a th:unless="${user.getPayDirekt()} and ${user.getBankAccount()} and ${user.getPaymentCard()}" class="button self-center" th:href="@{/account/payments}">Zahlungsmittel hinzufügen</a>
                </div>
                <div th:if="${haspresonly}" class="card">
                    <b class="header self-center">Versicherung</b>
                    <div class="column gap self-center" th:if="${user.getInsurance()}">
                        <div>
                            <label>Krankenkasse</label>
                            <b th:text="${user.getInsurance().getCompany()}"></b>
                        </div>
                        <div>
                            <label>Versichertennummer</label>
                            <b th:text="${user.getInsurance().getId()}"></b>
                        </div>
                    </div>
                    <a th:if="${user.getInsurance()}" class="button self-center" th:href="@{/account/insurance}">Versicherung ändern</a>
                    <a th:unless="${user.getInsurance()}" class="button self-center" th:href="@{/account/insurance}">Versicherung hinzufügen</a>
                </div>
                <div class="card">
                    <b class="header self-center">Bezahlen</b>
                    <div class="field self-center">
                        <span>Summe</span>
                        <b class="value self-center" th:text="${cart.getPrice()}">1337</b>
                    </div>
                    <button type="submit" class="ui button self-center">Jetzt Bezahlen</button>
                </div>
            </form>
        </div>
    </body>
</html>