<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{style.css}" />
		<title>Registrieren</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <form method="post" role="form" class="ui form" id="form" th:action="@{/customer}" th:object="${customerForm}">
    
            <div class="field">
                <label for="address">Vorname</label>
                <input id="address" name="address" th:field="*{name}" th:errorclass="fieldError" type="text"
                       required="required"/>
            </div>

            <div class="field">
                <label for="address">Nachname</label>
                <input id="address" name="address" th:field="*{lastName}" th:errorclass="fieldError" type="text"
                       required="required"/>
            </div>

            <div class="field">
                <label for="name">E-Mail-Adresse</label>
                <input id="name" name="name" th:field="*{email}" th:errorclass="fieldError" type="text" required="required"/><br/>
            </div>
    
            <div class="field">
                <label for="password">Passwort</label>
                <input id="password" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                       required="required"/>
            </div>

            <div class="field">
                <label for="address">Straße</label>
                <input id="address" name="address" th:field="*{street}" th:errorclass="fieldError" type="text"
                       required="required"/>
            </div>

            <div class="field">
                <label for="address">Hausnummer</label>
                <input id="name" name="name" th:field="*{houseNumber}" th:errorclass="fieldError" type="text" required="required"/><br/>
            </div>

            <div class="field">
                <label for="name">Postleitzahl</label>
                <input id="name" name="name" th:field="*{postCode}" th:errorclass="fieldError" type="number" required="required"/><br/>
            </div>
    
            <div class="field">
                <label for="password">Stadt</label>
                <input id="password" name="password" th:field="*{city}" th:errorclass="fieldError" type="text"
                       required="required"/>
            </div>
    
            <div class="field">
                <label for="password">Private Krankenkasse</label>
                <select id="password" name="password" th:field="*{privateInsurance}" th:errorclass="fieldError"
                       required="required">
                    <option value="false">Nein</option>
                    <option value="true">Ja</option>
                </select>
            </div>

            <button type="submit" class="ui button">Registrieren</button>
        </form>
    </body>
</html>