<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>

        <title th:text="${medicine.name}">Titel</title>
    </head>
    <body>

        <nav th:include="navigation :: navigation"></nav>

        <div class="center">
            <div class="field">
                <h1 th:text="${medicine.name}">Medikament</h1>
            </div>

            <div class="field">
                <img class="medimg" th:src="@{/img/med/{name}.png(name=${medicine.image})}" src="../static/img/med2.png"/>
            </div>

            <div class="field">
                <span th:text="${medicine.presonly} ? 'Verschreibungspflichtig' : 'Frei Verkäuflich'">Verwendung</span>
            </div>

            <div class="field">
                <a th:text="${medicine.description}">Beschreibung</a>
            </div>
            <div class="field">
                <a th:text="${medicine.amount + ' mg'}">Menge</a>
            </div>
                
            <div class="field">
                <a th:text="${{medicine.price}}">Preis</a>
            </div>

            <form class="ui form" method="post" th:action="@{/cart}" th:if="${orderable}">
                <input type="hidden" name="pid" value="0" th:value="${medicine.id}"/>
                <div class="row">
                    <input class="numberinput" id="number" type="number" name="number" min="1" th:max="${medicine.quantity}" step="1" value="1"/><br/>
                    <button type="submit" class="button" th:text="${'In den Warenkorb'}"></button>
                </div>
            </form>
        </div>
    </body>
</html>