<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>

        <title th:text="${medicine.name}">Titel</title>
    </head>
    <body>

        <nav th:include="navigation :: navigation"></nav>

        <div class="center">

            <div class="filters justify">

                <div class="medimgwrapperdetail">
                    <i class="medimg" th:style="'background-image: url('+@{/img/med/{image}.png(image=${medicine.image})}+');'" ></i>
                </div>

                <div class="gap column">
                    <p class="header" th:text="${medicine.name}">Medikament</p>
                    
                    <span th:text="${medicine.presonly} ? 'Verschreibungspflichtig' : 'Frei Verkäuflich'">Verwendung</span>

                    <a th:text="${medicine.description}">Beschreibung</a>

                    <a th:text="${medicine.amount + ' Gramm'}">Menge</a>

                    <a th:text="${{medicine.price}}">Preis</a>

                    <form class="ui form" method="post" th:action="@{/cart}" th:if="${available &gt; 0}">
                        <input type="hidden" name="pid" value="0" th:value="${medicine.id}"/>
                        <div class="row">
                            <input class="numberinput" id="number" type="number" name="number" min="1" th:max="${available}" step="1" value="1"/><br/>
                            <button type="submit" class="button" th:text="${'In den Warenkorb'}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>