<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
    
		<title>Fixkosten</title>
	</head>
  <body>
    <nav th:include="navigation :: navigation"></nav>

    <div class="position">
      <a th:href="@{/finances}">Finanzen</a>
      <p>&#10095;</p>
      <a th:href="@{/editfix}">Fixkosten</a>
    </div>

		<div class="center">
      <form class="form gap" action="#editfix" th:action="@{/editfix}"  th:object="${fixcosts}" method="POST">
        <div class="field">
          <label>Miete</label>
          <div class="row">
            <input max="1000000000"min="0" required="required"class="numberinput rightcorners"type="number"th:field="*{Rent}" />
            <a class="currency">€</a>
          </div>
        </div>
        <div class="field">
          <label>Strom</label>
          <div class="row">
            <input max="1000000000" min="0" required="required"class="numberinput rightcorners"type="number"th:field="*{Electricity}" />
            <a class="currency">€</a>
          </div>
        </div>
        <div class="field">
          <label>Wasser</label>
          <div class="row">
            <input max="1000000000" min="0" required="required"class="numberinput rightcorners"type="number"th:field="*{Water}" />
            <a class="currency">€</a>
          </div>
        </div>
        <div class="field">
          <label>Heizkosten</label>
          <div class="row">
            <input max="1000000000" min="0" required="required"class="numberinput rightcorners"type="number"th:field="*{Heating}" />
            <a class="currency">€</a>
          </div>
        </div>
        <div class="self-center">
            <input class="button" type="submit" value="Aktualisieren" />
        </div>
      </form> 
    </div>
  </body>
</html>
