<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{style.css}" />
		<title>Account</title>
	</head>
    <body>
		<nav th:include="navigation :: navigation"></nav>
		
		<p th:text="${'ID: '+user.getId()}">ID</p>
		<p th:text="${'Name: '+user.userAccount.getFirstname()}">Vorname</p>
		<p th:text="${'Name: '+user.userAccount.getLastname()}">Nachname</p>
		<p th:text="${'E-Mail: '+user.userAccount.getUsername()}">E-Mail</p>
        <!--
		<form th:if="${userRole}" method="post" role="form" class="ui form" id="form" th:action="@{/user/{id}(id=${user.getId()}" th:object="${customerAddForm}">
            <div class="field">
                <label for="address">Straße</label>
                <input id="address" name="address" th:field="*{street}" th:errorclass="fieldError" type="text"
                       required="required"/>
            </div>

            <div class="field">
                <label for="address">Hausnummer</label>
                <input id="name" name="name" th:field="*{houseNumber}" th:errorclass="fieldError" type="text" required="required"/><br/>
            </div>

            <div class="field">
                <label for="name">Postleitzahl</label>
                <input id="name" name="name" th:field="*{postCode}" th:errorclass="fieldError" type="number" required="required"/><br/>
            </div>
    
            <div class="field">
                <label for="password">Stadt</label>
                <input id="password" name="password" th:field="*{city}" th:errorclass="fieldError" type="text"
                       required="required"/>
            </div>
    
            <div class="field">
                <label for="password">Private Krankenkasse</label>
                <select id="password" name="password" th:field="*{privateInsurance}" th:errorclass="fieldError"
                       required="required">
                    <option value="false">Nein</option>
                    <option value="true">Ja</option>
                </select>
            </div>

            <button type="submit" class="ui button">Zum Kunden machen</button>
        </form>
        -->
	</body>
</html>