<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Finanzen</title>
	
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <div class="center">
          <div class="field">
            <div class="row">
              <div class="information">
                <label>Kontostand</label>
                <div class="row">
                  <p th:text="${#numbers.formatDecimal(total,2,3)}"/></p>
                  <p>€</p>
                </div>
              </div>
              <div class="information">
                <label>Einnahmen</label>
                <div class="row">
                  <p th:text="${#numbers.formatDecimal(plus,2,3)}"/></p>
                  <p>€</p>
                </div>
              </div>
              <div class="information">
                <label>Ausgaben</label>
                <div class="row">
                  <p th:text="${#numbers.formatDecimal(minus,2,3)}"/></p>
                  <p>€</p>
                </div>
              </div>
            </div>
          <div class="row">
           <form class="space" action="/editfix">
             <input  style="width: auto;"class="button"type="submit" th:value="${'Fixkosten bearbeiten'}"></input>
           </form>     
           
           <form class="space" th:action="@{/create}" method="POST">
             <input style="width: auto;" class="button"type="submit" value="Beispieleinträge generieren"></input>
           </form>
          </div>
        </div>
        <form class="filters"  action="#" th:action="@{/finances}"  th:object="${filterB}" method="POST">
            <div class="option">
              <p>Kategorie</p>
  				    <select  th:field="*{filter}" >
                <option th:each="ty : ${T(pharmacy.finances.FilterForm.Filter).values()}" th:value="${ty.name()}" th:text="${ty}"></option>
              </select>
            </div>
            <div class="option">
              <p>Interval</p>
              <input class="checkbox" type="checkbox" th:field="*{intfilter}"/>
            </div>
            <div class="option">
              <p>Anfang</p>
              <input class="left" type="date" th:field="*{begin}"/>
            </div>
            <div class="option">
              <p>Ende</p>
              <input class="left" type="date" th:field="*{end}"/>
            </div>
            <div class="field">
              <input class="button"type="submit" value="Filtern" />
            </div>
         </form> 

       <table class="field">
            <tr>
                <th >Datum</th>
                <th >Beschreibung</th>
                <th >Betrag in €</th>
            </tr>
        <tr th:if="${tab.empty}">
            <td colspan="3"> Keine Buchhaltungseinträge Verfügbar</td>
        </tr>
        <tr th:each="entry : ${tab}"> 
            <td th:text="${#temporals.format(entry.getDate().get(),'dd.MM.yyyy HH:mm')}">Time</td>
            <td th:if="${#strings.startsWith(entry.getDescription(),'Rechnung Nr')}">
              <a th:href="@{/finances/{id}(id=${entry.getDescription()})}"style="color: blue;" th:text="${entry.getDescription()}"></a>
            </td>
            <td th:unless="${#strings.startsWith(entry.getDescription(),'Rechnung Nr')}" th:text="${entry.getDescription()}">Beschreibung</td>
             <td  th:text="${#numbers.formatDecimal(entry.getValue().getNumber().doubleValue(),2,3)}">Betrag</td>
            
            </tr>
      </table>
      </div>
    </body>
</html>