<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Finanzen</title>
	
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <div ><p>Kontostand: <span th:text="${total}"/> €</p></div>
        <div class="field">
       
  			<h1 >Filter</h1>
  			<form action="#" th:action="@{/finances}"  th:object="${filterB}" method="POST">
          
  				<label th:each="ty : ${T(pharmacy.finances.FilterForm.Filter).values()}">
            <span th:if="${ty.toString() == 'Online Bestellungen'}"><h2 style="color:white; margin: 3px;">Einnahmen <span th:text="${plus}"/> €</h2></span>
            <span th:if="${ty.toString() == 'Gehälter'}"><h2 style="color:white; margin: 3px;">Ausgaben <span th:text="${minus}"/> €</h2></span>
            
            <input type="radio" th:field="*{filter}" th:value="${ty.name()}"/>
    				<label th:for="${#ids.prev('filter')}" th:text="${ty}">Wireframe</label>
          </label>
            <label>Nach Interval Filtern</label>
            <input type="checkbox" th:field="*{intfilter}"/>
            <label>Anfang</label>
            <input type="date" th:field="*{begin}"/>
            <label>Ende</label>
            <input type="date" th:field="*{end}"/>
           <input class="button"type="submit" value="Filtern" />
         </form> 

        <form action="/editfix">
          <input  class="button"type="submit" value="Fixkosten bearbeiten"></input>
        </form>     
        
        <form th:action="@{/create}" method="POST">
          <input class="button"type="submit" value="Beispieleinträge generieren"></input>
        </form>
        
      </div>
   
    

      <div class="center" >
       <table class="ui celled table">
            <thead>
            <tr>
                <th >Datum</th>
                <th >Beschreibung</th>
                <th >Betrag in €</th>
            </tr>
            </thead>
             <tbody>
        <tr th:if="${tab.empty}">
            <td colspan="3"> Keine Buchhaltungseinträge Verfügbar</td>
        </tr>
        <tr th:each="entry : ${tab}"> 
            <td th:text="${#temporals.format(entry.getDate().get(),'dd.MM.yyyy HH:mm')}">Time</td>
            <td th:if="${#strings.startsWith(entry.getDescription(),'Rechnung Nr')}">
              <a th:href="@{/finances/{id}(id=${entry.getDescription()})}"style="color: blue;" th:text="${entry.getDescription()}"></a>
            </td>
            <td th:unless="${#strings.startsWith(entry.getDescription(),'Rechnung Nr')}" th:text="${entry.getDescription()}">Beschreibung</td>
             <td  th:text="${entry.getValue().getNumber().doubleValue()}">Betrag</td>
            
            </tr>
        </tbody>
      </table>
      </div>
    </body>
</html>