<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Details</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav> 
        <div class="center">
                
            <div class="field">
                <label class="label">Datum</label>
                <b th:text="${#temporals.format(det.getDateCreated(),'dd.MM.yyyy HH:mm')}"></b>
            </div>
                
            <div class="field">
                <label class="label">ID</label>
                <b th:text="${det.getId().getIdentifier()}"></b>
            </div>
                
            <div class="field">
                <label class="label">Betrag</label>
                <b th:text="${det.getTotal().getNumber().doubleValue()}"></b>
            </div>
                
            <div class="field">
                <label class="label">Status</label>
                <b th:text="${det.getOrderStatus().toString()}"></b>
            </div>
                
            <div class="field">
                <label class="label">User</label>
                <b th:text="${det.getUserAccount().getUsername()}"></b>
            </div>
                
            <div class="field">
                <label class="label">User ID</label>
                <b th:text="${det.getUserAccount().getId().getIdentifier()}"></b>
            </div>
                
            <div class="field">
                <label class="label">Bezahlmethode</label>
                <b th:text="${det.getPaymentMethod()}"></b>
            </div>
            <table class="ui celled table">
                <tr>
                    <th >Produkt</th>
                    <th >Bestellt</th>
                </tr>
                <tr th:if="${det.getOrderLines().isEmpty()}">
                    <td style="text-align: center;"collabel="3"> Keine Infos </td>
                    <td></td>
                </tr>
                <tr th:each="orderline : ${det.getOrderLines().get().toArray()}"> 
                    <td  th:text="${orderline.getProductName()}">Name</td>
                    <td  th:text="${orderline.getQuantity().getAmount().intValue()}">Bestellt</td>
                </tr>
            </table>
        </div>
    </body>
</html>