<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<script th:src="@{/webjars/jquery/jquery.min.js}" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script th:src="@{/webjars/Semantic-UI/semantic.min.js}" src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
	<link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
	<link th:href="@{/resources/css/style.css}" rel="stylesheet" href="../static/resources/css/style.css" type="text/css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>

	<title th:text="${Titel}">Apotheke</title>
</head>

<body>
<nav th:include="navigation :: navigation"></nav>

<div class="row flex space align">
	<form class="ui form" action="#" th:action="@{/search}" th:object=${searchform} method="post">
		<div class="field">
			<input type="text" th:field="*{searchTerm}" placeholder="Suchbegriff eingeben" />
		</div>
		<button type="submit" class="ui labeled icon button">
			<span>Suchen</span>
		</button>
	</form>
</div >

<div class="sidenav" id="sidenav">

	<form action="#" th:action="@{/}" th:object=${searchform} method="post" class="ui form">

		<div class="field">


			<input type="checkbox" id="nopres" name="nopres" th:checked="${nopres}"/>
			<label for="nopres">Nur rezeptfreie Medikamente anzeigen</label>


			<div th:each="tag : ${tags}">
				<form  class="ui form" method="post" th:action="@{/tagsearch}">
					<input type="hidden" name="tempsearch" value="0" th:value="${tempTerm}"/>
					<input type="hidden" name="tag" value="0" th:value="${tag}"/>

					<button type="submit" class="ui labeled icon button" th:text="${tag}"></button>
				</form>
			</div>

			<br>
			<button th:text="Filtern" type="submit" class="ui labeled icon button"></button>
		</div>

	</form>

</div>

<div class="main">



	<br>

	<header>
		<h1 th:text="${Suchbegriff}">Suchbegriff</h1>
	</header>

	<br>

	<div class="ui link cards" th:remove="all-but-first">
		<div class="ui card" th:each="medicine : ${catalog}">

			<div class="content">
				<a class="header" th:href="@{/medicine/{id}(id=${medicine.id})}" th:text="${medicine.name}">Medikament</a>
			</div>

			<div class="image">
				<a th:href="@{/medicine/{id}(id=${medicine.id})}">
					<img class="thumbnail" th:src="@{/img/{image}.png(image=${medicine.image})}" src="../static/img/med1.png"/>
				</a>
			</div>

			<div class="content">
				<div class="description" th:text="${medicine.description}">Verwendung</div>
			</div>

			<div class="content" th:text="${medicine.presonly} ? 'Verschreibungspflichtig' : 'Frei Verkäuflich'">Typ</div>

			<div class="extra content" th:text="${{medicine.price}}">Preis</div>

			<div class="content">
				<form  class="ui form" method="post" th:action="@{/cart}">
					<input type="hidden" name="pid" value="0" th:value="${medicine.id}"/>
					<input id="number" type="number" name="number" min="1" th:max="${medicine.quantity}" step="1" value="1"/><br/>
					<br>
					<button type="submit" class="ui labeled icon button">
						<i class="add to cart icon"></i><span>In den Warenkorb</span>
					</button>
				</form>
			</div>

		</div>
	</div>


</div>

<script>

	function toggleSideBar() {
		var sidebar = document.getElementById("sidenav");
		if(sidebar.style.display == "none") {
			sidebar.style.display = "block";
		} else {
			sidebar.style.display = "none";
		}
	}

</script>


</body>
</html>