<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>

		<title th:text="${title}">Apotheke</title>

	</head>

	<body>

		<nav th:include="navigation :: navigation"></nav>

			<form class="filters" action="#"  th:action="@{/}" th:object=${searchform} method="post">
	
				<input class="input" type="hidden" th:value="${oldTerm}" name="searchbar"/>
	
					<div class="option">
						<p for="nopres">Rezeptfrei</p>
						<input class="checkbox" type="checkbox" id="nopres" name="nopres" th:checked="${nopres}" />
					</div>
	
					<div class="option">
						<p for="selector">Kategorie</p>
						<select class="selector" th:field="*{tag}">
							<option value="">Keine</option>
							<option th:each="tag : ${tags}" th:text="${tag}" th:value="${tag}"></option>
						</select>
					</div>
	
				<div class="field">
					<button th:text="Filtern" type="submit" class="ui labeled icon button"></button>
				</div>
			</form>

		<div class="field">
			<h3 th:text="${header}"></h3>
		</div>

		<div class="meds" th:remove="all-but-first">

			<a class="med" th:each="medicine : ${catalog}" th:href="@{/medicine/{id}(id=${medicine.id})}">

				<img class="medimg" th:src="@{/img/med/{image}.png(image=${medicine.image})}" src="../static/img/med1.png"/>

				<div class="meddetails">

					<h5 th:text="${medicine.name}"></h5>
					<div class="content" th:text="${medicine.presonly} ? 'Verschreibungspflichtig' : 'Frei Verkäuflich'">Typ</div>
					<div class="extra content" th:text="${{medicine.price}}">Preis</div>

				</div>
			</a>
		</div>
	</body>
</html>