<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Einstellungen</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        
        <div class="position">
            <a th:href="@{/account}">Account</a>
            <p>></p>
            <a th:href="@{/account/insurance}">Versicherung</a>
        </div>

        <div class="center">

            <form method="post" role="form" class="ui form" id="form" th:action="@{/account/insurance}" th:object="${insuranceForm}">
                <div class="field">
                    <label class="label" for="name">Krankenkasse</label>
                    <input class="textinput" placeholder="Krankenkasse" id="name" name="company" th:value="${user.getInsurance()} ? ${user.getInsurance().getCompany()} : ${insuranceForm.getCompany()}" th:errorclass="fieldError" type="text" required="required"/>
                    <p class="ui negative message" th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></p>
                </div>
                <div class="field">
                    <label class="label" for="name">Versichertennummer</label>
                    <input class="textinput" placeholder="A69420694206" id="name" name="insuranceNumber" th:value="${user.getInsurance()} ? ${user.getInsurance().getId()} : ${insuranceForm.getInsuranceNumber()}" th:errorclass="fieldError" type="text" required="required"/>
                    <p class="ui negative message" th:if="${#fields.hasErrors('insuranceNumber')}" th:errors="*{insuranceNumber}"></p>
                </div>  
                <div class="self-center">                        
                    <button th:if="${user.getInsurance()}" type="submit" class="ui button">Ändern</button>
                    <button th:unless="${user.getInsurance()}" type="submit" class="ui button">Hinzufügen</button>
                </div>
            </form>
        </div>
    </body>
</html>