<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Inventar</title>
		
	</head>
    <body>
      
      <nav th:include="navigation :: navigation"></nav>
        
      <div class="center">
        <form class="self-center" action="#" th:action="@{/meddetail}"th:object="${formular}" method="POST">
          <input type="hidden" id="id" name="id" value="ID" th:value="''"/>
          <input style="width: auto;"class="button" type="submit" value="Medikament hinzufügen" />
        </form>
        <table class="ui celled table">
          <tr>
              <th >Name</th>
              <th >Produktbeschreibung</th>
              <th >Vorrätig</th>
              <th >Zielmenge</th>
              <th >Zusatzbestellung</th>
              <th >Details ändern</th>
              <th >Nachbestellen</th>
              <th >Löschen</th>
          </tr>
          <tr th:if="${inventory.empty}">
              <td colspan="8"> Keine Medikamente vorhanden</td>
          </tr>
          <tr  th:each="entry : ${inventory}" > 
          
            <td  th:text="${entry.getProduct().getName()}">Name</td>
            <td  th:text="${entry.getProduct().getDescription()}">Beschreibung</td>
            <td  th:text="${entry.getQuantity().getAmount().intValue()}">Menge</td>
            <td  th:text="${entry.getProduct().getQuantity()}">Zielenge</td>
            <td th:if="${waitlist.containsKey(entry.getId().getIdentifier())}" th:text="${waitlist.get(entry.getId().getIdentifier())}">Warteliste</td>
            <td th:unless="${waitlist.containsKey(entry.getId().getIdentifier())}"></td>
            <td>
              <form action="#" th:action="@{/meddetail}"th:object="${formular}" method="POST">
                <input type="hidden" id="id" name="id" value="ID" th:value="${entry.getId().getIdentifier()}"/>
                <button class="button" type="submit">Details</button>
              </form>
            </td>
            <td>
              <form action="#" th:action="@{/increase}" th:object="${formular}"method="POST">
                <input type="hidden" id="id" name="id" value="ID" th:value="${entry.getId().getIdentifier()}" />
                <input class="button" type="submit" value="+1" />
              </form>
            </td>
            <td>
              <form action="#" th:action="@{/delete}"th:object="${formular}" method="POST">
                <input type="hidden" id="id" name="id" value="ID" th:value="${entry.getId().getIdentifier()}"/>
                <button class="iconbutton trash" type="submit">
                  <svg class="icon" viewBox="0 0 24 24">
                    <rect fill="none" height="24" width="24"/>
                    <path d="M6,19c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V7H6V19z M9.17,12.59c-0.39-0.39-0.39-1.02,0-1.41c0.39-0.39,1.02-0.39,1.41,0 L12,12.59l1.41-1.41c0.39-0.39,1.02-0.39,1.41,0s0.39,1.02,0,1.41L13.41,14l1.41,1.41c0.39,0.39,0.39,1.02,0,1.41 s-1.02,0.39-1.41,0L12,15.41l-1.41,1.41c-0.39,0.39-1.02,0.39-1.41,0c-0.39-0.39-0.39-1.02,0-1.41L10.59,14L9.17,12.59z M18,4h-2.5 l-0.71-0.71C14.61,3.11,14.35,3,14.09,3H9.91c-0.26,0-0.52,0.11-0.7,0.29L8.5,4H6C5.45,4,5,4.45,5,5s0.45,1,1,1h12 c0.55,0,1-0.45,1-1S18.55,4,18,4z"/>
                  </svg>
                </button>
              </form>
            </td>
          </tr>
      </table>
    </div>
  </body>
	<script> </script>
</html>