<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Inventar</title>
		
	</head>
    <body>
      
      <nav th:include="navigation :: navigation"></nav>
        
      <div class="center">
        <form class="self-center" action="/meddetail" th:object="${formular}" >
          <input type="hidden" id="id" name="id" value="ID" th:value="''"/>
          <input style="width: auto;" class="button" type="submit" th:value="${'Medikament hinzufügen'}"/>
        </form>
        <table class="ui celled table">
          <tr>
              <th >Name</th>
              <th >Prdouktbeschreibung</th>
              <th >Vorrätig</th>
              <th >Zielmenge</th>
              <th >Zusatzbestellung</th>
              <th >Details ändern</th>
              <th >Nachbestellen</th>
              <th >Löschen</th>
          </tr>
          <tr th:if="${inventory.empty}">
              <td colspan="8"> Keine Medikamente vorhanden</td>
          </tr>
          <tr  th:each="entry : ${inventory}" > 
          
            <td  th:text="${entry.getProduct().getName()}">Name</td>
            <td  th:text="${entry.getProduct().getDescription()}">Beschreibung</td>
            <td  th:text="${entry.getQuantity().getAmount().intValue()}">Menge</td>
            <td  th:text="${entry.getProduct().getQuantity()}">Zielenge</td>
            <td><span th:if="${waitlist.containsKey(entry.getId().getIdentifier())}"><span th:text="${waitlist.get(entry.getId().getIdentifier())}"></span></span></td>
            <td>
              <form action="#" th:action="@{/meddetail}"th:object="${formular}" method="POST">
                <input type="hidden" id="id" name="id" value="ID" th:value="${entry.getId().getIdentifier()}"/>
                <input class="button" type="submit" value="Details" />
              </form>
            </td>
            <td>
              <form action="#" th:action="@{/increase}" th:object="${formular}"method="POST">
                <input type="hidden" id="id" name="id" value="ID" th:value="${entry.getId().getIdentifier()}" />
                <input class="iconbutton"style="color:white; margin:auto" type="submit" value="+1" />
              </form>
            </td>
            <td>
              <form action="#" th:action="@{/delete}"th:object="${formular}" method="POST">
                <input type="hidden" id="id" name="id" value="ID" th:value="${entry.getId().getIdentifier()}"/>
                <div class="iconbutton">
                <input class="icon"style=" background-color: Transparent;margin:auto"type="image" th:src="@{/img/trash.png}" value="" /></div>
                <!--<a  class="iconbutton" th:href="@{/user/{id}/remove(id=${user.getId()})}"><img class="icon" th:src="@{/img/trash.png}"></a>-->
              </form>
            </td>
          </tr>
      </table>
    </div>
  </body>
</html>