<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
        
		<title>Login</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>

        <div class="center">
            <!-- Lets play a game: guess the object name ^^
            <form class="form" role="form" th:action="@{/login}" method="post" th:object="${login}"> 
                <div class="field">
                    <label class="label" for="username">Benutzername</label>
                    <input class="textinput" type="text" id="username" name="username" th:errorclass="fieldError" autofocus="autofocus"/>
                    <p class="ui negative message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
                
                <div class="field">
                    <label class="label" for="password">Passwort</label>
                    <input class="textinput" type="password" id="password" th:errorclass="fieldError" name="password"/>
                    <p class="ui negative message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
            -->
            <form class="form" role="form" th:action="@{/login}" method="post"> 
                <div class="field">
                    <label class="label" for="username">Benutzername</label>
                    <input class="textinput" type="text" id="username" name="username" autofocus="autofocus"/>
                </div>
                <div class="field">
                    <label class="label" for="password">Passwort</label>
                    <input class="textinput" type="password" id="password" name="password"/>
                </div>
                <div class="self-center">
                    <button class="button" type="submit">Login</button>
                </div>
                <div class="self-center">
                    <label>Neu hier?</label>
                    <a class="button" th:href="@{/register}">Registrieren</a>
                </div>
            </form>
        </div>

    </body>
	<script> </script>
</html>