<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Medikament</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <div class="position">
            <a th:href="@{/inventory}">Inventar</a>
            <p>></p>
            <a th:href="@{/meddetail}">Medikament</a>
          </div>
		<div class="center">
            <form class="form gap" action="#newmed" th:action="@{/addmed}"  th:object="${formular}" method="POST">
                <div class="field">
                    <label>Name</label>
                    <input maxlength="255"class="textinput" type="text"th:field="*{name}" th:errorclass="fieldError" name="name"  required="required"/>
                        <p class="ui negative message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                </div>
                <div class="field">
                    <label>Beschreibung</label>
                    <input maxlength="255"class="textinput"type="text"th:field="*{description}" th:errorclass="fieldError" name="description" required="required" />
                    <p class="ui negative message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                </div>
                <div class="field">
                    <label>Tags (mit Komma trennen)</label>
                    <input cmaxlength="255"lass="textinput"type="text"th:field="*{tags}" th:errorclass="fieldError" name="tags" required="required" />
                    <p class="ui negative message" th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}"></p>
                </div>
                <div class="field">
                    <label>Pfad zum Bild</label>
                    <input maxlength="255"class="textinput"type="text"th:field="*{image}" th:errorclass="fieldError" name="image" required="required" />
                    <p class="ui negative message" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></p>
                </div>
                <div class="field">
                    <label>Gewicht</label>
                    <div class="row">
                        <input min="0.0001"step="0.0001"class="numberinput"type="number"th:field="*{amount}" th:errorclass="fieldError" name="amount" required="required" />
                        <a class="currency">g</a>
                        <p class="ui negative message" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>
                    </div>
                </div>
                <div class="field">
                    <label>Zielmenge</label>
                    <div class="row">
                        <input min="1"class="numberinput"type="number"th:field="*{quantity}" th:errorclass="fieldError" name="quantity" required="required"/>
                        <a class="currency">Stück</a>
                        <p class="ui negative message" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
                    </div>
                </div>
                <div class="field">
                    <label >Verkaufspreis</label>
                    <div class="row">
                        <input min="0"class="numberinput"type="number"th:field="*{price}" th:errorclass="fieldError" name="price" required="required" />
                        <a class="currency">€</a>
                        <p class="ui negative message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                    </div>
                </div>
                <div class="field">
                    <label>Einkaufspreis</label>
                    <div class="row">
                        <input min="0"class="numberinput"type="number"th:field="*{purchasingprice}" th:errorclass="fieldError" name="purchasingprice" required="required"/>
                        <a class="currency">€</a>
                        <p class="ui negative message" th:if="${#fields.hasErrors('purchasingprice')}" th:errors="*{purchasingprice}"></p>
                    </div>
                </div>
                <div class="field">
                    <label>Rezeptpflichtig</label>
                    <input type="checkbox" name ="presonly" th:field="*{presonly}" />
                </div>
                <div class="field">
                    <input class="button" type="submit" value="Aktualisieren" />
                </div>
            </form>
        </div>
    </body>
</html>