<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Medikament</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <div class="position">
            <a th:href="@{/inventory}">Inventar</a>
            <p>></p>
            <a th:href="@{/meddetail}">Medikament</a>
          </div>
		<div class="center">
        <div class="popup border">
            <form action="#newmed" th:action="@{/addmed}"  th:object="${formular}" method="POST">
                <ul >
                    <h1  style="margin: 5px;">Medikament bearbeiten</h1>
                    <input type="hidden"th:field="*{id}" />
                    <div class="field">
                        <label>Name:</label>
                        <input class="textinput" type="text"th:field="*{name}" th:errorclass="fieldError"  required="required" />
                        <p class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>
                    <div class="field">
                        <label>Beschreibung:</label>
                        <input class="textinput"type="text"th:field="*{description}" th:errorclass="fieldError"  required="required" />
                    </div>
                    <div class="field">
                        <label>Tags (mit Komma trennen):</label>
                        <input class="textinput"type="text"th:field="*{tags}" th:errorclass="fieldError"  required="required" />
                    </div>
                    <div class="field">
                        <label>Pfad zum Bild:</label>
                        <input class="textinput"type="text"th:field="*{image}" th:errorclass="fieldError"  required="required" />
                    </div>
                    <div class="field">
                        <label>Gewicht:</label>
                        <div class="row">
                            <input class="numberinput"type="number"th:field="*{amount}" />
                            <a class="currency">g</a>
                        </div>
                    </div>
                    <div class="field">
                        <label>Menge:</label>
                        <div class="row">
                            <input class="numberinput"type="number"th:field="*{quantity}" />
                            <a class="currency">Stück</a>
                        </div>
                    </div>
                    <div class="field">
                        <label >Verkaufspreis:</label>
                        <div class="row">
                            <input class="numberinput"type="number"th:field="*{price}" />
                            <a class="currency">€</a>
                        </div>
                    </div>
                    <div class="field">
                        <label>Einkaufspreis:</label>
                        <div class="row">
                            <input class="numberinput"type="number"th:field="*{purchasingprice}" />
                            <a class="currency">€</a>
                        </div>
                    </div>
                    <div class="field">
                        <label>Rezeptpflichtig:</label>
                        <input type="checkbox" name ="presonly" th:field="*{presonly}" />
                    </div>
                    <div class="field">
                        <input style="width: auto;margin: 5px" class="button" type="submit" value="Speichern und Schließen" />
                    </div>
            </ul>
            </form>
            <form action="/discard" th:object="${formular}" >
                <div class="field">
                    <input type="hidden" id="id" name="id" value="ID" th:value="''"/>
                    <input class="button"type="submit" value="Abbrechen"></input>
                </div>
            </form>
        </div>
