<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
        
		<title>Meine Finanzen</title>
		
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
   
        <div class="position">
            <a th:href="@{/account}">Account</a>
            <p>></p>
            <a th:href="@{#}">Meine Finanzen</a>
        </div>
   
        <div class="center" >
            <table class="ui celled table">
                <tr>
                    <th >Datum</th>
                    <th >Beschreibung</th>
                    <th >Betrag in €</th>
                </tr>
                <tr th:if="${tab.empty}">
                    <td colspan="3"> Keine Buchhaltungseinträge Verfügbar</td>
                </tr>
                <tr th:each="entry : ${tab}"> 
                    <td th:text="${#temporals.format(entry.getValue(),'dd.MM.yyyy')}">Time</td>
                    <td th:if="${#strings.startsWith(entry.getKey().getDescription(),'Rechnung Nr')}">
                    <a th:href="@{/finances/{id}(id=${entry.getKey().getId()})}"style="color: blue;" th:text="${entry.getKey().getDescription()}"></a>
                    </td>
                    <td th:unless="${#strings.startsWith(entry.getKey().getDescription(),'Rechnung Nr')}" >
                        <div class="row">
                            <a class="space" th:text="${entry.getKey().getDescription()}"/>
                            <a class="button" th:href="@{/myfinances/{id}(id=${entry.getKey().getId()})}" th:text="${'Lohnzettel'}"></a>
                        </div>
                    </td>
                    <td  th:text="${#numbers.formatDecimal(entry.getKey().getValue().getNumber().doubleValue(),1,2)}">Betrag</td>  
                </tr>
           </table>
           </div>
   
        
        
    </body>
</html>