<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Welcome</title>
	</head>
	<body>
		<nav th:fragment="navigation">        
            <a class="item" href="register.html" th:href="@{/register}"
                sec:authorize="!hasAnyRole('BOSS','CUSTOMER')"
                th:text="#{nav.register}">Registrierung</a>
    
            <a class="item" href="orders.html" th:href="@{/orders}" sec:authorize="hasRole('BOSS')"
                th:text="#{nav.orders}">Bestellungen</a>
    
            <a class="item" href="stock.html" th:href="@{/stock}" sec:authorize="hasRole('BOSS')"
                th:text="#{nav.stock}">Lager</a>

            <a class="item" href="customers.html" th:href="@{/customers}" sec:authorize="hasRole('BOSS')"
                th:text="#{nav.customers}">Kundenliste</a>
    
            <a class="item" href="catalog.html" th:href="@{/dvds}" th:text="#{nav.dvdCatalog}">DVD Catalog</a>
            <a class="item" href="catalog.html" th:href="@{/blurays}" th:text="#{nav.blurayCatalog}">Blu-ray
                Catalog</a>
    
            <a class="item" href="searchform.html" th:href="@{/searchform}" th:text="#{nav.search}">Suche</a>
    
            <a class="item" href="cart.html" th:href="@{/cart}" sec:authorize="hasRole('CUSTOMER')" th:text="#{nav.cart}">Warenkorb</a>
            <a class="item" href="cart.html" th:href="@{/cart}" sec:authorize="hasRole('BOSS')" th:text="#{nav.restock}">Restockliste</a>
    
            <div class="right menu">
                <a class="item" th:href="@{/login}" sec:authorize="!isAuthenticated()" th:text="#{nav.login}">Login</a>
                <form class="item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    <button type="submit" class="ui button" th:text="#{nav.logout}">Logout</button>
                </form>
                <a class="item" th:href="@{/password}" sec:authorize="isAuthenticated()" th:text="#{nav.password}">Passwort Ändern</a>
            </div>
        </nav>
	</body>
</html>