<nav th:fragment="navigation">   
    <a class="a nav height flex center" th:href="@{/}">
        <img class="icon" th:src="@{pharmacy.png}">
    </a>
    <div class="row height flex space align">
        <a class="a nav height flex center" th:href="@{/counter}">Kasse</a>
        <a class="a nav height flex center" th:href="@{/orders}">Bestellungen</a>
        <a class="a nav height flex center" th:href="@{/inventory}">Inventar</a>
        <a class="a nav height flex center" th:href="@{/finances}">Finanzen</a>
        <a class="a nav height flex center" sec:authorize="hasRole('EMPLOYEE') or hasRole('BOSS')" th:href="@{/users}">Benutzer</a>
    </div>
    <div class="row height flex align">
        <a class="a nav height flex center" sec:authorize="hasRole('CUSTOMER')" th:href="@{/cart}">Warenkorb</a>
        <a class="a nav height flex center" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        <a class="a nav height flex center" sec:authorize="isAuthenticated()" th:href="@{/account}">Account</a>
    </div>
</nav>