<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
        
		<title>Details</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav> 
            <div class="center">
                 
                <div class="position">
                    <a th:href="@{/orders}">Bestellungen</a>
                    <p>&#10095;</p>
                    <a th:href="@{#}">Details</a>
                </div>
                 
                <div class="field">
                    <span class="span">Datum</span>
                    <h4 th:text="${#temporals.format(det.getDateCreated(),'dd.MM.yyyy HH:mm')}"></h4>
                </div>
                 
                <div class="field">
                    <span class="span">ID</span>
                    <h4 th:text="${det.getId().getIdentifier()}"></h4>
                </div>
                 
                <div class="field">
                    <span class="span">Betrag</span>
                    <h4 th:text="${det.getTotal().getNumber().doubleValue()}"></h4>
                </div>
                 
                <div class="field">
                    <span class="span">Status</span>
                    <h4 th:text="${det.getOrderStatus().toString()}"></h4>
                </div>
                 
                <div class="field">
                    <span class="span">User</span>
                    <h4 th:text="${det.getUserAccount().getUsername()}"></h4>
                </div>
                 
                <div class="field">
                    <span class="span">User ID</span>
                    <h4 th:text="${det.getUserAccount().getId().getIdentifier()}"></h4>
                </div>
                 
                <div class="field">
                    <span class="span">Bezahlmethode</span>
                    <h4 th:text="${det.getPaymentMethod()}"></h4>
                </div>
                <table class="ui celled table">
                    <tr>
                        <th >Produkt</th>
                        <th >Bestellt</th>
                        
                    </tr>
                <tr th:if="${det.getOrderLines().isEmpty()}">
                    <td style="text-align: center;"colspan="3"> Keine Infos </td>
                </tr>
                <tr th:each="orderline : ${det.getOrderLines().get().toArray()}"> 
                    <td  th:text="${orderline.getProductName()}">Name</td>
                    <td  th:text="${orderline.getQuantity().getAmount().intValue()}">Bestellt</td>
                    </tr>
                </table>
            </div>
    </body>
</html>