<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
        
		<title>Fehler beim Fertigstellen</title>
		
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <div class="position">
            <a th:href="@{/orders}">Bestellungen</a>
            <p>></p>
            <a th:href="@{#}">Fehler</a>
          </div>
        <div class="center">
          <div >
              <h4 th:text="${'ID: ' + order.getId().getIdentifier()}"></h4>
            </div>
            <div >
                <h4 th:text="${'User: ' + order.getUserAccount().getUsername()}"></h4>
            </div>
            <div >
                <h4 th:text="${'Datum: '+ #temporals.format(order.getDateCreated(),'dd.MM.yyyy HH:mm')}"></h4>
            </div>
           <table class="ui celled table">
                <tr>
                    <th >Produkt</th>
                    <th >Bestellt</th>
                    <th >Verfügbar</th>
                </tr>
            <tr th:if="${order.getOrderLines().isEmpty()}">
                <td style="text-align: center;"colspan="3"> Keine Infos </td>
            </tr>
            <tr th:each="orderline : ${order.getOrderLines().get().toArray()}"> 
                <td  th:text="${orderline.getProductName()}">Name</td>
                <td  th:text="${orderline.getQuantity().getAmount().intValue()}">Bestellt</td>
                <td  th:text="${quantity.get(orderline.getProductIdentifier()) == -1 ? 'Medikament wurde aus dem Inventar entfernt, bitte Bestellung löschen': quantity.get(orderline.getProductIdentifier()) }">Status</td>
                </tr>
            </table>
        </div>
    </body>
	<script> </script>
</html>