<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Passwort Ändern</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        
        <div class="position">
            <a th:href="@{/account}">Account</a>
            <p>></p>
            <a th:href="@{/account/settings}">Einstellungen</a>
            <p>></p>
            <a th:href="@{/account/settings}">Passwort</a>
        </div>

        <div class="center">
            
            <form class="form gap" method="post" role="form" id="form" th:action="@{/account/settings/password}" th:object="${passwordForm}">
        
                <div class="field">
                    <label class="label" for="password">Neues Passwort</label>
                    <input class="textinput" id="newPassword" name="newPassword" th:field="*{newPassword}" th:errorclass="fieldError" type="password"
                        required="required"/>
                    
                    <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Das Passwort darf
                        nicht leer sein.</p>
                </div>
        
                <div class="field">
                    <label class="label" for="password">Neues Passwort Bestätigen</label>
                    <input class="textinput" id="newPassword" name="newPassword" th:field="*{confirmPassword}" th:errorclass="fieldError" type="password"
                        required="required"/>
                </div>
        
                <div class="field">
                    <button type="submit" class="ui button">Ändern</button>
                </div>
            </form>
        </div>
    </body>
</html>