<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Registrieren</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>

        <div class="center">
            <form class="form" method="post" role="form" id="form" th:action="@{/register}" th:object="${userForm}">
        
                <div class="field">
                    <label class="label" for="address">Benutzername</label>
                    <input class="textinput" id="address" name="address" th:field="*{name}" th:errorclass="fieldError" type="text"
                        required="required"/>
                </div>
        
                <div class="field">
                    <label class="label" for="password">Passwort</label>
                    <input class="textinput" id="password" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                        required="required"/>
                </div>
        
                <div class="field">
                    <label class="label" for="password">Passwort Bestätigen</label>
                    <input class="textinput"id="newPassword" name="newPassword" th:field="*{confirmPassword}" th:errorclass="fieldError" type="password"
                        required="required"/><br/>
                    
                    <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Das Passwort darf
                        nicht leer sein.</p>
                    
                </div>

                <button type="submit" class="ui button">Registrieren</button>
            </form>
        </div>
    </body>
</html>