<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Lohnzettel</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav> 
        <div class="position">
            <a th:href="@{/myfinances}">Finanzen</a>
            <p>></p>
            <a th:href="@{#}">Lohnzettel</a>
          </div>
            <div class="center">
                <div class="field">
                    <span class="span">Datum</span>
                    <h4 th:text="${#temporals.format(det.getValue1(),'dd.MM.yyyy')}"></h4>
                </div>
                <div class="field">
                    <span class="span">Betrag</span>
                    <h4 th:text="${det.getValue0().getValue().getNumber().doubleValue()}"></h4>
                </div>                 
                <div class="field">
                    <span class="span">Beschreibung</span>
                    <h4 th:text="${det.getValue0().getDescription()}"></h4>
                </div>
            </div>
    </body>
</html>