<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}" src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" href="../static/resources/css/style.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}" />
    <link rel="shortcut icon" type="image/png" th:href="@{pharmacy.png}"/>

    <title th:text="${Titel}">Titel</title>
</head>

<body>
    <nav th:include="navigation :: navigation"></nav>

    <br>

    <form action="#" th:action="@{/search}" th:object="${searchform}" method="post" class="ui form">
        <div class="field">

            <input type="text" th:field="*{searchTerm}" placeholder="Suchbegriff eingeben" />

            <br><br>

            <select th:field="*{medType}" name="Typ" id="type">
                <option th:value="all">Alle Arten von Medikamenten</option>
                <option th:value="Kapsel">Kapseln</option>
                <option th:value="Tablette">Tabletten</option>
                <option th:value="Salbe">Salben</option>
                <option th:value="Fluessigkeit">Flüssigkeiten</option>
                <option th:value="Pulver">Pulver</option>
            </select>

            <br>

            <select sec:authorize="hasRole('EMPLOYEE')" th:field="*{ingType}" name="Zutaten" id="ingredient">
                <option th:value="all">Alle Arten von Medikamenten</option>
                <option th:value="labor">Labor</option>
                <option th:value="mixture">Mixtur</option>
                <option th:value="shop">Shop</option>
            </select>

            <br>

            <input type="checkbox" name="nopres" th:checked="${nopres}"> Nur rezeptfreie Medikamente anzeigen</input>

            <br><br>

            <button type="submit" class="ui labeled icon button">
                <i class="search icon"></i><span> Suchen</span>
            </button>

        </div>
    </form>

    <br>

    <header>
        <h1 th:text="${Suchbegriff}">Suchbegriff</h1>
    </header>

    <br>

    <div class="ui link cards" th:remove="all-but-first">
        <div class="ui card" th:each="medicine : ${catalog}">

            <div class="content">
                <a class="header" th:href="@{/medicine/{id}(id=${medicine.id})}" th:text="${{medicine.name}}">Medikament</a>
            </div>

            <div class="image">
                <a th:href="@{/medicine/{id}(id=${medicine.id})}">
                    <img class="thumbnail" th:src="@{/img/{image}.png(image=${medicine.image})}" src="../static/img/med1.png"/>
                </a>
            </div>

            <div class="content">
                <div class="description" th:text="${{medicine.usage}}">Verwendung</div>
            </div>

            <div class="content">
                <div class="description" th:text="${{medicine.medType}}">Typ</div>
            </div>

            <div class="content">
                <div class="description" th:text="${{medicine.presType}}">Verschreibungsart</div>
            </div>

            <div class="extra content" th:text="${medicine.price}">Preis</div>

            <button type="submit" class="ui labeled icon button">
                <i class="add to cart icon"></i><span>In den Warenkorb</span>
            </button>
        </div>
    </div>
</body>
</html>