<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{style.css}" />
		<title>Zeit Überspringen</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
        <form method="post" role="form" class="ui form" id="form" th:action="@{/time}" th:object="${durationForm}">
    
            <div class="field">
                <label for="duration">Stunden</label>
                <input th:field="*{duration}" type="number"
                       required="required"/>
            </div>

            <button type="submit" class="ui button">Zeit Überspringen</button>
        </form>
    </body>
</html>