<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto?family=Roboto:wght@900">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
        
		<title>Zeitreise</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>

        <div class="center">
            <form method="post" role="form" class="ui form" id="form" th:action="@{/time}" th:object="${durationForm}">
                <div class="field">
                    <label class="label">Aktuelle Zeit</label>
                    <h3 th:text="${#temporals.format(time,'dd.MM.yyyy HH:mm')}"></h3>
                </div>
                <div class="field">
                    <label class="label" for="duration">Stunden</label>
                    <div class="row">
                        <input class="numberinput rightcorners" th:field="*{duration}" type="number"
                            required="required"/>
                        <button type="submit" class="button leftcorners">Überspringen</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
	<script> </script>
</html>