<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Benutzer</title>
	</head>
    <body>
		<nav th:include="navigation :: navigation"></nav>
		
		<p th:text="${'ID: '+user.getId()}">ID</p>
        <p th:text="${'Benutzername: '+user.userAccount.getUsername()}">Benutzername</p>
        <p th:if="${user.userAccount.hasRole(customer)}">Rolle: Kunde</p>
        <p th:if="${user.userAccount.hasRole(employee)}">Rolle: Mitarbeiter</p>
        <p th:if="${user.userAccount.hasRole(boss)}">Rolle: CEO</p>
        
        <p>Adressen</p>
        <div th:each="address : ${user.getAddresses()}">
            <a th:text="${address.getName()}">Name</a>
            <p>Make Default Address</p>
        </div>

        <p>Zahlungsmittel</p>
        tbc
    
		<p th:if="${user.getInsurance()}" th:text="${'Krankenkasse: '+user.getInsurance()}">ID</p>

        <a th:href="@{/user/{id}(id=${user.getId()})/employee}">Zum Mitarbeiter befördern</a>

		<form th:if="${user.userAccount.hasRole(employee)}" method="post" role="form" class="ui form" id="form" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${employeeForm}">

            <div class="field">
                <label for="name">Gehalt</label>
                <input id="name" name="name" th:field="*{salary}" th:errorclass="fieldError" type="number" required="required"/><br/>
            </div>
    
            <div class="field">
                <label for="password">Urlaubstage</label>
                <input id="password" name="password" th:field="*{vacation}" th:errorclass="fieldError" type="text"
                       required="required"/>
            </div>

            <button type="submit" class="ui button">Zum Mitarbeiter befördern</button>
        </form>

        <button th:if="${user.userAccount.hasRole(customer)}" type="submit" class="ui button">Kunden löschen</button>
	</body>
</html>