<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{style.css}" />
		<title>Benutzer</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
		<div class="row flex space align">
			<a class="a nav height flex center" sec:authorize="hasRole('EMPLOYEE') or hasRole('BOSS')" th:href="@{/customer}">Neuer Kunde</a>
			<a class="a nav height flex center" sec:authorize="hasRole('BOSS')" th:href="@{/doctor}">Neue Praxis</a>
			<a class="a nav height flex center" sec:authorize="hasRole('BOSS')" th:href="@{/employee}">Neuer Mitarbeiter</a>
		</div>
		<div>
			<div class="ui card" th:each="user : ${userList}">
				<div th:text="${user.userAccount.getFirstname()}"></div>
				<form method="post" role="form" class="ui form" id="form">
					<button type="submit" class="ui button">Löschen</button>
				</form>	
			</div>
		</div>
    </body>
</html>