<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Benutzer</title>
	</head>
    <body>
        <nav th:include="navigation :: navigation"></nav>
    	<table class="ui celled table">
        	<thead>
				<tr>
					<th>ID</th>
					<th>Benutzername</th>
					<th>Krankenkasse</th>
					<th>Adresse</th>
					<th>Zahlungsmittel</th>
					<th>Rolle</th>
					<th>Arbeitsverhältnis</th>
					<th>Gehalt</th>
					<th>Löschen</th>
				</tr>
        	</thead>
			<tbody>
				<tr class="ui card" th:each="user : ${users}">
					<td th:text="${user.getId()}">ID</td>
					<td th:text="${user.userAccount.getUsername()}">Benutzername</td>
					<td>
						<form th:if="${user.getInsurance() == null}" method="post" role="form" class="ui form" id="form" th:action="@{/user/{id}/insurance(id=${user.getId()})}" th:object="${insuranceForm}">
							<div class="field">
								<label class="label"  for="name">Krankenkasse</label>
								<input class="textinput" id="name" name="name" th:field="*{insurance}" th:errorclass="fieldError" type="text" required="required"/><br/>
							</div>
				
							<button type="submit" class="ui button">Krankenkasse hinzufügen</button>
						</form>
						<form th:if="${user.getInsurance()}" method="post" role="form" class="ui form" id="form" th:action="@{/user/{id}/insurance(id=${user.getId()})}" th:object="${insuranceForm}">
							<a th:text="${'Aktuelle Krankenkasse: '+user.getInsurance()}"></a>
							<div class="field">
								<label class="label"  for="name">Neue Krankenkasse</label>
								<input class="textinput" id="name" name="name" th:field="*{insurance}" th:errorclass="fieldError" type="text" required="required"/><br/>
							</div>
				
							<button type="submit" class="ui button">Krankenkasse ändern</button>
						</form>
					</td>
					<td>
						<form method="post" role="form" class="ui form" id="form" th:action="@{/user/{id}/address(id=${user.getId()})}" th:object="${addressForm}">
							<div class="field">
								<label class="label"  for="address">Name</label>
								<input class="textinput" th:value="${user.getAddress()} ? ${user.getAddress().getName()} : ${addressForm.name}" name="name" th:errorclass="fieldError" type="text" required="required"/>
							</div>
				
							<div class="field">
								<label class="label"  for="address">Straße und Hausnummer</label>
								<input class="textinput" th:value="${user.getAddress()} ? ${user.getAddress().getStreet()} : ${addressForm.street}" name="street" th:errorclass="fieldError" type="text" required="required"/><br/>
							</div>
				
							<div class="field">
								<label class="label"  for="name">Postleitzahl</label>
								<input class="numberinput" th:value="${user.getAddress()} ? ${user.getAddress().getPostCode()} : ${addressForm.postCode}" name="postCode" th:errorclass="fieldError" type="number" required="required"/><br/>
							</div>
					
							<div class="field">
								<label class="label"  for="password">Stadt</label>
								<input class="textinput" th:value="${user.getAddress()} ? ${user.getAddress().getCity()} : ${addressForm.city}" name="city" th:errorclass="fieldError" type="text" required="required"/>
							</div>
							
							<div class="field">
								<button th:text="${user.getAddress() == null} ? ${'Adresse hinzufügen'} : ${'Adresse ändern'}" type="submit" class="ui button"></button>
							</div>
						</form>
					</td>
					<td>
						<a class="button" th:href="@{/user/{id}/payment(id=${user.getId()})}">Zahlungsmittel hinzufügen</a>
					</td>
					<td th:if="${user.userAccount.hasRole(customer)}">Kunde</td>
					<td th:if="${user.userAccount.hasRole(employee)}">Mitarbeiter</td>
					<td th:if="${user.userAccount.hasRole(boss)}">CEO</td>
					<td th:if="${user.userAccount.hasRole(customer)}">
						<form method="post" role="form" class="ui form" id="form" th:action="@{/user/{id}/hire(id=${user.getId()})}" th:object="${employeeForm}">
							<div class="field">
								<label class="label"  for="name">Gehalt</label>
								<input class="numberinput" id="name" name="name" th:field="*{salary}" th:errorclass="fieldError" type="number" required="required"/><br/>
							</div>
				
							<button type="submit" class="ui button">Einstellen</button>
						</form>
					</td>
					<td th:if="${user.userAccount.hasRole(employee)}">
						<a class="button" th:href="@{/user/{id}/dismiss(id=${user.getId()})}">Entlassen</a>
					</td>
					<td th:if="${user.userAccount.hasRole(boss)}">Geschäftsführer</td>
					<td>
						<form th:if="${user.userAccount.hasRole(employee)}" method="post" role="form" class="ui form" id="form" th:action="@{/user/{id}/salary(id=${user.getId()})}" th:object="${employeeForm}">
							<a th:text="${'Aktuelles Gehalt: '+user.getSalary()}"></a>
							<div class="field">
								<label class="label"  for="name">Neues Gehalt</label>
								<input class="numberinput" id="name" name="name" th:field="*{salary}" th:errorclass="fieldError" type="number" required="required"/><br/>
							</div>
				
							<button type="submit" class="ui button">Gehalt anpassen</button>
						</form>
					</td>
					<td><a th:if="${user.userAccount.hasRole(customer)}" class="button" th:href="@{/user/{id}/remove(id=${user.getId()})}">Löschen</a></td>
				</tr>
			</tbody>
		</table>
		</div>
    </body>
</html>