<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="shortcut icon" type="image/png" th:href="@{/img/pharmacy.png}"/>
		<title>Benutzer</title>
	</head>
    <body>
		<nav th:include="navigation :: navigation"></nav>
		<div class="center">
			<table class="ui celled table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Benutzername</th>
						<th>Arbeitsverhältnis</th>
						<th>Löschen</th>
					</tr>
				</thead>
				<tbody>
					<tr class="ui card" th:each="user : ${users}">
						<td th:text="${user.getId()}">ID</td>
						<td th:text="${user.userAccount.getUsername()}">Benutzername</td>
						<td th:if="${user.userAccount.hasRole(boss)}">
							<form class="field" method="post" role="form" id="form" th:action="@{/user/{id}/salary(id=${user.getId()})}" th:object="${employeeForm}">
								<label for="name">Gehalt</label>
								<div class="row">
									<input class="numberinput" id="name" name="salary" th:value="${user.getSalary()} ? ${user.getSalary().getNumber()} : ${employeeForm.getSalary()}" type="text" required="required"/>
									<a class="currency">€</a>
									<button type="submit" class="ui button">Anpassen</button>
								</div>
							</form>
						</td>
						<td th:if="${user.userAccount.hasRole(employee)}">
							<div class="field">
								<label for="name">Gehalt</label>
								<div class="row">
									<input class="numberinput" id="name" name="salary" th:value="${user.getSalary()} ? ${user.getSalary().getNumber()} : ${employeeForm.getSalary()}" type="text" required="required"/>
									<a class="currency">€</a>
									<button type="submit" class="ui button">Anpassen</button>
								</div>
							</div>
							<div class="field">
								<a class="button" th:href="@{/user/{id}/dismiss(id=${user.getId()})}">Entlassen</a>
							</div>
						</td>
						<td th:if="${user.userAccount.hasRole(customer)}">
							<a class="button" th:href="@{/user/{id}/hire(id=${user.getId()})}">Einstellen</a>
						</td>
						<td>
							<a th:if="${user.userAccount.hasRole(boss)}">Geschäftsführer kann nicht gelöscht werden.</a>
							<a th:if="${user.userAccount.hasRole(employee)}">Mitarbeiter können nicht gelöscht werden.</a>
							<a th:if="${user.userAccount.hasRole(customer)}" class="button" th:href="@{/user/{id}/remove(id=${user.getId()})}">Löschen</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </body>
</html>